@import "./breakpoints";
@import "./mixins";

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    --primary-text-light: #ededed;
    --primary-bg-light: #ededed;
    --color-light: #fff;
    --navy-blue: #2d86d5;
    --box-shadow-1: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --parent-url: '';
}

@font-face {
    font-family: "Montserrat";
    src:
        local("Montserrat"),
        url("/shine-fire/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype") tech(color-COLRv1);
}

html,
body {
    position: relative;
    margin: auto;
    padding: 0;
    font-family: 'Montserrat';
}

#app {
    height: 100dvh;
}

header {
    height: clamp(4rem, 4rem, 4rem);
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    margin: auto auto auto auto;
    background-color: var(--primary-bg-light);
    box-shadow: var(--box-shadow-1);
    z-index: 999;

    nav {
        width: 90%;
        max-width: $screen-xxl-min;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 25px;

        a {
            text-decoration: none;
            color: #000;
        }

        #nav {
            &--brand {
                &-name {
                    font-size: 1rem;

                    .fa-fire-extinguisher {
                        color: #a61919;
                    }

                    @include xs-max {
                        font-size: 0.9rem;
                    }
                }
            }

            &--contact-number {
                font-size: 1rem;

                @include xs-max {
                    font-size: 0.9rem;
                }
            }
        }

    }

}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $screen-xxl-min;
    margin: auto;
    z-index: 998;

    #hero {
        position: fixed;
        height: 650px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        background-image: url("/shine-fire/assets/images/bg-hero.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        color: var(--primary-text-light);

        &--title {
            font-size: 2.5rem;
        }

        &--subtitle {
            font-size: 1.5rem;
        }

        &-clearfix {
            height: 550px;
        }

    }

    #matrix {
        width: 90%;
        position: relative;
        background-color: var(--primary-bg-light);
        border-radius: 1rem;
        display: flex;
        z-index: 998;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: var(--box-shadow-1);

        @include md {
            flex-direction: row;
        }

        .matrix--card {

            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 35px;
            align-self: flex-start;

            &-value {
                font-size: 2rem;
                font-weight: bold;
                color: var(--navy-blue);
            }

            &-title {
                font-size: 1.5rem;
                font-weight: 500;
                padding: 5px;
            }

            &-subtitle {
                padding: 10px 0px;
                font-size: 0.9rem;
            }

            &-divider {
                width: 1px;
                background-color: #cccccc;
                align-self: stretch;

                @include md-max {
                    height: 1px;
                    width: 100%;
                }
            }
        }

    }

    #content {
        width: 100%;
        background-color: var(--color-light);
        margin-top: -90px;
        z-index: 997;
        border-radius: 4px 4px 0 0;

        &--margin-top {
            height: 100px;
        }

        #customers {
            display: block;
        }
    }
}

footer {
    position: absolute;
    width: 100%;
    background-color: #212121;
    z-index: 999;

    #footer {

        &-top,
        &-bottom {
            width: 100%;
            max-width: $screen-xxl-min;
            margin: auto;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            @include md-max {
                flex-direction: column;
            }

        }

        &-bottom {
            height: 50px;
            border-top: 0.5px solid #8b8b8b;
        }
    }

    .footer {
        &-section {
            min-height: 100px;
            padding: 40px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 30%;

            > *{
                margin-top: 15px;
                padding: 5px;
                
                p, a {
                    text-decoration: none;
                    color: var(--primary-text-light);
                }
            }
        }
        &-title {
            color: var(--navy-blue);
        }
    }
}

.strokeme {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.color-red {
    color: #a61919;
}

.color-light {
    color: var(--primary-text-light);
}
