* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --primary-text-light: #ededed;
  --primary-bg-light: #ededed;
  --color-light: #fff;
  --navy-blue: #2d86d5;
  --box-shadow-1: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --parent-url: "";
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("/shine-fire/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype") tech(color-COLRv1);
}
html,
body {
  position: relative;
  margin: auto;
  padding: 0;
  font-family: "Montserrat";
}

#app {
  height: 100dvh;
}

header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  margin: auto auto auto auto;
  background-color: var(--primary-bg-light);
  box-shadow: var(--box-shadow-1);
  z-index: 999;
}
header nav {
  width: 90%;
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}
header nav a {
  text-decoration: none;
  color: #000;
}
header nav #nav--brand-name {
  font-size: 1rem;
}
header nav #nav--brand-name .fa-fire-extinguisher {
  color: #a61919;
}
@media (max-width: 422px) {
  header nav #nav--brand-name {
    font-size: 0.9rem;
  }
}
header nav #nav--contact-number {
  font-size: 1rem;
}
@media (max-width: 422px) {
  header nav #nav--contact-number {
    font-size: 0.9rem;
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
  margin: auto;
  z-index: 998;
}
main #hero {
  position: fixed;
  height: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-image: url("/shine-fire/assets/images/bg-hero.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  color: var(--primary-text-light);
}
main #hero--title {
  font-size: 2.5rem;
}
main #hero--subtitle {
  font-size: 1.5rem;
}
main #hero-clearfix {
  height: 550px;
}
main #matrix {
  width: 90%;
  position: relative;
  background-color: var(--primary-bg-light);
  border-radius: 1rem;
  display: flex;
  z-index: 998;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: var(--box-shadow-1);
}
@media (min-width: 768px) {
  main #matrix {
    flex-direction: row;
  }
}
main #matrix .matrix--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 35px;
  align-self: flex-start;
}
main #matrix .matrix--card-value {
  font-size: 2rem;
  font-weight: bold;
  color: var(--navy-blue);
}
main #matrix .matrix--card-title {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 5px;
}
main #matrix .matrix--card-subtitle {
  padding: 10px 0px;
  font-size: 0.9rem;
}
main #matrix .matrix--card-divider {
  width: 1px;
  background-color: #cccccc;
  align-self: stretch;
}
@media (max-width: 768px) {
  main #matrix .matrix--card-divider {
    height: 1px;
    width: 100%;
  }
}
main #content {
  width: 100%;
  background-color: var(--color-light);
  margin-top: -90px;
  z-index: 997;
  border-radius: 4px 4px 0 0;
}
main #content--margin-top {
  height: 100px;
}
main #content #customers {
  display: block;
}

footer {
  position: relative;
  background-color: #212121;
  z-index: 999;
}
footer #footer-top, footer #footer-bottom {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  footer #footer-top, footer #footer-bottom {
    flex-direction: column;
  }
}
footer #footer-bottom {
  height: 50px;
  border-top: 0.5px solid #8b8b8b;
}
footer .footer-section {
  min-height: 100px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30%;
}
footer .footer-section > * {
  margin-top: 15px;
  padding: 5px;
}
footer .footer-section > * p, footer .footer-section > * a {
  text-decoration: none;
  color: var(--primary-text-light);
}
footer .footer-title {
  color: var(--navy-blue);
}

.strokeme {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.color-red {
  color: #a61919;
}

.color-light {
  color: var(--primary-text-light);
}/*# sourceMappingURL=main.css.map */